<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    
    <!-- end col-12 -->
    <!-- begin col-12 -->
    <div class="col-md-12" ng-controller="genreSummaryController">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <span>{{genredateRangeSelector}}</span>
                    <a id="genre-summary-daterange" class="btn btn-xs btn-icon btn-primary"><i class="fa fa-calendar"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Top Genre Distribution</h4>
            </div>
            <div class="alert alert-info fade in">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                Top Genre will be displayed here. (* 15 min caching)
            </div>
            <div class="row">
                <div class="panel-body" style="height:420px;">
                    <div id="genre-pie-chart" class="height-sm"></div>
                </div>
            </div>
        </div>
    </div>
</div>

