<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:red">Error</h2>
        <h3>Dear, User</h3>
        <p style="font-size:20px;color:rgb(15, 27, 201);">Somthing went wrong, Please update again.</p>
        <a href="/app/json/view" class="btn btn-success">     Go to Json View     </a>
    <br><br>
        </div>
	</div>
</div>