div(ng-controller='dashboardController')
  // begin breadcrumb
  ol.breadcrumb.pull-right
    li
      a(href='javascript:;') Home
    li
      a(href='javascript:;') Dashboard
    // <li class="active">Dashboard v2</li>
  // end breadcrumb
  // begin page-header
  h1.page-header
    | Dashboard 
    small header small text goes here...
  // end page-header
  // begin row
  .row
  // end row
  // end row
